@CHARSET "ISO-8859-1";
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}
/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("F:/prep/TechIota/img/headerImage.jpg");
    min-height: 100%;
}
.w3-bar .w3-button {
    padding: 16px;
}
#logo {
  background: url("F:/prep/TechIota/img/icon.png") center / contain no-repeat;
  width: 100px;
  height: 60px;
}
#txtArea{
	height:150px;
    width:634px;
    word-break: break-word;
}

.w3-card {
	position:relative;
    height: 270px;
}

/**
 * About card to have some 3d effect while mouse hover
 * shadow
 */
.aboutCard{
/*  -moz-box-shadow: 3px 3px 4px #000; 
 -webkit-box-shadow: 3px 3px 4px #000;  */
 box-shadow: 3px 3px 4px #0D7938; 
}

/**
 * To make the setting in About page spin slowly
 */
.slow-spin {
  -webkit-animation: fa-spin 6s infinite linear;
  animation: fa-spin 6s infinite linear;
}

/**
 * About card to have some 3d effect while mouse hover
 * shadow
 */
.questionCard{
/*  -moz-box-shadow: 3px 3px 4px #000; 
 -webkit-box-shadow: 3px 3px 4px #000;  */
 box-shadow: 3px 3px 4px #A80A0A; 
}

/**
 * To put a button on button corner of card
 */
.w3-card .btn-holder {
	
 /*  justify-content: flex-end;
  display: flex; */
  position:absolute;
    bottom:0;
    right:0;
}

#getQuestion {
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

#getQuestion:hover{
    color: #A80A0A;  }
     
